@model CustomClientCredentialHost.Areas.Admin.api.IDSScopePageRecord

@{
    ViewBag.Title = "Scopes";
}
<br/>
<span>
<a href="@Url.Action("New", "Scope")" class="btn btn-warning">
    New Scope
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</a>
</span>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DisplayName</th>
            <th>Type</th>
            <th>Description</th>
            <th>Action</th>
         </tr>
    </thead>
    <tbody>
        @foreach (var scope in Model.Scopes)
        {
            <tr>
                <td>@scope.Name</td>
                <td>@scope.DisplayName</td>
                <td>@scope.Type</td>
                <td>@scope.Description</td>
                <td>
                    <span>
                        <a href="@Url.Action("Delete", "Scope", new { name = scope.Name })" class="btn btn-warning">
                            Delete
                            <span class="glyphicon   glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Edit", "Scope")" class="btn btn-warning">
                            Edit
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </span>

                </td>
            </tr>
        }
    </tbody>
</table>