@model CustomClientCredentialHost.Areas.NortonDeveloper.Models.ClientViewModel

@{
    ViewBag.Title = "Norton Developer - Manage Client";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Manage", "ClientCredentials", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new Client.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ClientId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ClientId, new
            {
                style = "width: 300px;border: none;background-color: #fff;background: transparent;",
                @class = "form-control",
                @readonly = "readonly"
            })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ClientName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Flow, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Flow, Model.FlowsTypes)
            @Html.ValidationMessageFor(m => m.Flow)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AccessTokenType, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AccessTokenType, Model.AccessTokenTypes)
            @Html.ValidationMessageFor(m => m.AccessTokenType)
        </div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Secret Hash</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var secret in Model.ClientSecrets)
            {
                <tr>
                    <td>@secret.Value</td>

                    <td>
                        <span>
                            <a href="@Url.Action("ShowSecret", "ClientCredentials", new { hash = @secret.Value })" class="btn btn-primary">
                                Show
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit"/>
        </div>
        @Html.ActionLink("Cancel", "Index", "ClientCredentials", new { @class = "btn btn-default" })
        @Html.ActionLink("Secret", "Secret", "ClientCredentials", new { clientId = Model.ClientId }, new { @class = "btn btn-default" })
        
    </div>
}