<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-menu-hamburger white" aria-hidden="true"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_NavBarPartial")
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    @Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, null)
                </li>
                <li>
                   @Html.ActionLink("Scopes", "Index", "Scope", new { area = "Admin" }, null)
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()

                        <a class="btn btn-primary" id="menu-sidenav">
                            Toggle Menu
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                    </div>
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <hr/>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)


<!-- Menu Toggle Script -->
<script>
    $('#menu-sidenav').click(function (e) {

        e.preventDefault();
        $("#wrapper").toggleClass("toggled");

        if ($('a span').hasClass('glyphicon-chevron-left')) {
            $('#menu-sidenav').html('Toggle Menu<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>');
        } else {
            $('#menu-sidenav').html('Toggle Menu<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>');
        }
    });

</script>
</body>
</html>
